# ======================
# Virtual Environments (Блокируем 9000+ файлов)
# ======================
venv/
.venv/
env/
ENV/
lib64/

# ======================
# Python Cache
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Raw Data & Archives
# ======================
data/
*.tar.gz
*.zip

# ======================
# ML Models & Artifacts (Полная изоляция папки)
# ======================
artifacts/
*.keras
*.h5
*.joblib
*.pkl
*.bin

# ======================
# System & IDE
# ======================
.DS_Store
.idea/
.vscode/.env
artifacts/
*.tar
*.joblib
artifacts/
*.tar
*.joblib
nlp-moderator.tar
*.tar
